:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #000;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
  margin: 0;
  width: 100vw;   /* 视口宽度 */
  height: 100vh;  /* 视口高度 */
}

ul{
  padding: 0; /* 去掉默认的内边距 */
  margin: 0;
} 
ul li{
    list-style-type: none; /* 去掉小数点 */
}
a{
  text-decoration: none;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  overflow-y: hidden;
}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(173, 173, 173, 0.2);
    background:#dbdbdb;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: 0;
    border-radius: 5px;
    background:rgba(255, 255, 255, 0);;
}
