:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #000;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  /* Element Plus使用了CSS变量来实现主题定制，你可以通过覆盖这些变量来改变颜色。 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --el-menu-active-color:#0528f0;
 
}
body{
  margin: 0;
  width: 100vw;   /* 视口宽度 */
  height: 100vh;  /* 视口高度 */
}

ul{
  padding: 0; /* 去掉默认的内边距 */
  margin: 0;
} 
ul li{
    list-style-type: none; /* 去掉小数点 */
}
a{
  text-decoration: none;
}
h2, p {
  margin: 0;
}

.main_container{
  height: 100%;
  box-sizing: border-box;
  padding-top: 45px;
  overflow-y: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
}
.content{
  height: 100%;
  width: calc(100% - 20px);
}
::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  overflow-y: hidden;
}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(173, 173, 173, 0.2);
    background:#b1b1b1;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: 0;
    border-radius: 5px;
    background:rgba(255, 255, 255, 0);;
}
